:host {
  position: relative;
  display:flex;
  flex-wrap: wrap;
  width: 100dwh;
  flex-direction: column;
  background-color: var(--background-color);
}
.header {
  width: 100%;
  text-align: center;
  color: var(--text-color);
  padding: 2rem 0;
  font-size: 1.5rem;
}
@media screen and (max-width: 850px){
  :host {
  }
}
