prt-section-layout{
  justify-content: center;
  display: flex;
  width: calc(100% - 20rem);
  top: 100px;
  gap: 1rem;
  margin: auto;
  padding-bottom: 2rem;
  flex-direction:row;
}
@media screen and (max-width: 650px) {
  prt-section-layout {
    width: calc(100% - 4rem);
  }
}
@media screen and (max-width: 370px){
  prt-section-layout {
    width: calc(100% - 2rem);
  }
}
