:host {
  display: flex;
  position: relative;
  width: 25rem;
  aspect-ratio: 1/1;
}
#picBackground {
  position: absolute;
  background-color: var(--text-color-secondary);
  height: 95%;
  width: 95%;
  left: 2.5%;
  top: 2.5%;
  border-radius: 100%;
}
#picContainer {
  position: absolute;
  height: 95%;
  width: 92%;
  padding: 3% 2% 0 2%;
  left: 2%;
  bottom: 2.5%;
  border-radius: 0 0 100% 100%;
  overflow: hidden;
}
#mejpg {
  position: absolute;
  bottom: -15%;
  right: -4%;
  height: 115%;
  width: 118%;
}
@media screen and (max-width: 850px) {
    :host {
      width: 20rem;
    }
}
@media screen and (max-width: 450px){
  :host {
    width: calc(100% - 5px);
  }
}
